<footer>
    <div class="footer-separator"><p><hr><br></p></div>
    <div class="footer-curve">
        
        <section class="footer-grid">
            <div class="footer-logo">
                <img src="../Custom-Website_Beloman---v2/assets/logo.png" alt="Beloman Logo"/>
            </div>
            <div class="footer-contact">
                <div class="location">
                    <img src="../Custom-Website_Beloman---v2/assets/location.svg" alt="location icon" class="ft-btn-icon" />
                    Serving St. Clair County, IL
                </div>
                <div class="call">
                    <img src="../Custom-Website_Beloman---v2/assets/call.svg" alt="call icon" class="ft-btn-icon" />
                    Contact Us Today: <span>555-555-5555</span>
                </div>
                
                <p></p>
            </div>
        </section>
    </div>   
</footer>
<div class="copyright" style="background-color: black; width: 100%;">
    <p>Copyright © 2023 Beloman. All Rights Reserved. Built and Launched by <a href="https://www.linkedin.com/in/lebogang-ngwenya-341748194/"><strong>Lebogang Ngwenya</strong></a> on behalf of Search Kings Africa</p>
</div>