<!-- Header -->
    <header>
        <meta name="description" content="Air Conditioning and Heating Services Johannesburg | Beloman">
        <div class="header">
            <section class="header-grid">
                <div class="header-logo">
                    <a href="../index.html">
                        <img src="../assets/logo.png" alt="Beloman Logo">
                    </a>
                </div>
                <div class="header-contact">
                    <div class="header-location">
                        <img src="../assets/blue location.svg" alt="location icon" class="ft-btn-icon" />
                        Serving St. Clair County, IL
                    </div>
                    <div class="header-call">
                        <img src="../assets/blue call.svg" alt="call icon" class="ft-btn-icon" />
                        Contact Us Today: <span>555-555-5555</span>
                    </div>
                    
                    <p></p>
                </div>
            </section>
        </div>  
    </header>