<!-- Navigation -->
<nav class="navbar">
    <div class="hamburger" onclick="toggleMenu()">
      &#9776; <!-- Hamburger icon -->
    </div>
    <ul id="navbar-links">
      <li><a href="../Custom-Website_Beloman---v2/sales.html">HVAC Sales</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Services</a>
        <ul class="dropdown-menu">
          <li><a href="/Custom-Website_Beloman---v2/services/airconditioner.html">Air Conditioning</a></li>
          <li><a href="/Custom-Website_Beloman---v2/services/Furnaces.html">Furnaces</a></li>
          <li><a href="../Custom-Website_Beloman---v2/services/air-handlers.html">Air Handlers</a></li>
          <li><a href="../Custom-Website_Beloman---v2/services/ductless-systems.html">Ductless Systems</a></li>
          <li><a href="../Custom-Website_Beloman---v2/services/heat-pumps.html">Heat Pumps</a></li>
          <li><a href="../Custom-Website_Beloman---v2/services/indoor-air-quality.html">Indoor Air Quality</a></li>
          <li><a href="../Custom-Website_Beloman---v2/services/HVAC-maintenance.html">HVAC Maintenance</a></li>
          <li><a href="../Custom-Website_Beloman---v2/services/commercial-HVAC.html">Commercial HVAC</a></li>
        </ul>
      </li>
      <li><a href="../Custom-Website_Beloman---v2/promotion.html">Promotion</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">About Us</a>
        <ul class="dropdown-menu">
          <li><a href="../Custom-Website_Beloman---v2/about-us/why-choose-us.html">Why Choose Us</a></li>
          <li><a href="../Custom-Website_Beloman---v2/about-us/customer-reviews.html">Customer Reviews</a></li>
        </ul>
      </li>
      <li><a href="../Custom-Website_Beloman---v2/contact.html">Contact</a></li>
      <a href="../Custom-Website_Beloman---v2/contact.html" class="red-button">
        <strong>24/7 Emergency</strong>
        <p>Service Available</p>
    </a>
    </ul>
  </nav>